doctype html
html(lang="en")
    head
        title Sandbox
    body
        header
            h1 Sandbox
        section#content
            h2 Fuck you, by the way.
            ul
                each person in theThing
                    ol(style="padding: 4px;")
                        each name in person
                            li fuck you, #{name}
        footer
            p An app to help you study